<div id="<%= dom_id notification %>">
  <p>
    <strong>Title:</strong>
    <%= notification.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= notification.description %>
  </p>
  <p>
    <strong>Date send:</strong>
    <%= notification.date_send %>
  </p>
</div>
