<%= turbo_frame_tag :bootstrap_modal, target: :_top do %>
  <div class="modal fade" id="staticBackdrop" data-controller="modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><%= verb.eql?(:put) ? "Edit Departament" : "New Departament" %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "departaments/form", departament: @departament %>
        </div>
      </div>
    </div>
  </div>
<% end %>
