<div>
  <div class="d-flex justify-content-end p-2">
    <%= link_to "New Attachment", new_attachment_path, "data-controller":"turbo", class: "btn btn-primary btn-md mx-1" %>
  </div>
  <div>
    <%= turbo_frame_tag "attachment_form" %>
  </div>
</div>