<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Informations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab2">Attatments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab3">Tags</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab4">Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#tab5">Subtasks</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <%= render "tickets/form", ticket: @ticket %>
  </div>
  <div class="tab-pane" id="tab2">
    <%= render "tickets/attachments_modal" %>
  </div>
  <div class="tab-pane" id="tab3">
    <!-- Content for Tab 3 -->
  </div>
  <div class="tab-pane" id="tab4">
    <%= render "tickets/comments_modal" %>
  </div>
  <div class="tab-pane" id="tab5">
    <!-- Content for Tab 3 -->
  </div>
</div>
