<div class="p-5">
  <div class="d-flex justify-content-end">
    <%= link_to "New ticket", new_ticket_path, "data-controller":"turbo", class: "btn btn-primary btn-sm" %>
  </div>
  <div class="row pt-3">
    <% columns = { 1 => "Aguardando", 2 => "Desenvolvendo", 3 => "Testando", 4 => "Pronto" } %>
    <% columns.each do |column_value, column_name| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header text-primary mb-2"><%= column_name %></div>
          <div class="card-body">
            <% @tickets.where(column: column_value).each do |ticket| %>
              <%= link_to ticket.title, edit_ticket_path(ticket), "data-controller":"turbo" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
