<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tag.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tag.status %>
  </p>

</div>
